.CharacterListItem {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: context-menu;
}
.CharacterListItem:nth-of-type(2n) {
  background-color: #DDD;
}

.CharacterListItem .container {
  height:65px;
  width: 65px;
  overflow: hidden;
  border-radius: 50%;
}
.CharacterListItem .container .icon {
  max-width: 100%;
  max-height: 100%;
  transition: 0.2s all;
  margin: auto;
}
.CharacterListItem:hover .container .icon{
  transform:scale(1.1);
}
.CharacterListItem .container .icon.dead {
  filter: grayscale(100%);
}
.CharacterListItem:hover .container .icon.dead {
  filter: none;
  transition: 0.2s all;
}
.CharacterListItem .container .youAreDead {
  transform: rotate(-45deg);
  width: 100%;
  position: relative;
  bottom:43px;  /*Arbitrary value, to get the whole picture in the icon*/
  transition: 0.2s all;
}
.CharacterListItem:hover .container .youAreDead {
  opacity: 0;
}

.CharacterListItem p {
  margin: 10px;
}
